*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outer_box{
  padding: 30px 10px;
  background-color: black;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  height: auto;
}
.inputset{
  padding: 15px 120px;
  border-radius: 10px;

}
.inputset2{
  padding: 10px 100px;
  border-radius: 10px;
}
.btn_set{
  margin: 10px;
  padding: 10px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.results-set{
  background-color: black;
  width: 75%;
  margin: auto;
  color: white;
  padding: 20px;
}
table, th {
  border: 2px solid black;
}
.outer_box1{
  background-color: white;
  
}

